.about{
  &__title{
    text-align: left;
    font-weight: normal;
    font-size: 4rem;
  }
  &__desc{
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.8em;
  }
  .container{
    max-width: 960px;
  }
}
