.about{
  height: 100vh;
  width: 100%;
  margin-top: -70px;
  margin-bottom: -60px;
  background-image: url(../../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
