@viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  position: relative;
  left: 0;
  overflow-x: hidden;
}

* {
  &:after,
  &:before {
    box-sizing: inherit;
  }
}

body {
  background-color: $main-bg;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

a {
  background: transparent;
  text-decoration: none;
  transition: color 0.2s;
}

img {
  height: auto;
  max-width: 100%;
}

p {
  margin: 0;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 0;
  margin: 0;
  padding: 0;
  line-height: 1.6em;
  letter-spacing: 1px;
}

dd,
dl,
dt,
li,
p,
td,
th,
tr,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* ====================================================
// container
==================================================== */
.container {
  width: 100%;
  // max-width: 960px;
  margin: 0 auto;
}
/* ====================================================
// button
==================================================== */
.button {
  display: block;
  text-align: center;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 2px;

  &::after,
  &::before {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  &--instagram {
    width: 300px;
    height: 60px;
    line-height: 60px;
    margin: 40px auto;
    position: relative;
    z-index: 2;
    background-color: inherit;
    border: 2px solid $turquoise;
    color: $turquoise;
    overflow: hidden;
    font-size: 1.6rem;
    letter-spacing: 1px;

    &:hover {
      color: #fff;

      &::after {
        top: 0;
        background-color: $turquoise;
      }
    }

    &::after {
      top: -100%;
      width: 100%;
      height: 100%;
    }
  }
}
/* ====================================================
// header
==================================================== */
.header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  position: relative;
  // background-color: #fff;
  z-index: 999;
  @include media ($sp) {
    height: 70px;
  }

  &__logo {
    width: 100px;
    padding-left: 20px;
    align-self: center;
  }
  /* ====================================================
  // header-navi
  ==================================================== */
  &__navi {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    // align-items: center;
    align-items: center;
    flex-direction: column;

    .header-toggle {
      border: 0;
      outline: none;
      background-color: #fff;
      height: 100%;
      padding-right: 20px;
      // padding-top: 35px;
      box-sizing: border-box;
      cursor: pointer;
      appearance: none;
      background: transparent;

      .toggle-lines {
        display: inline-block;
        transition: all 0.4s;
        box-sizing: border-box;
        border: none;
        position: relative;
        width: 30px;
        height: 24px;
        z-index: 999999;

        &__line {
          display: inline-block;
          transition: all 0.4s;
          box-sizing: border-box;
          border: none;
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #fff;
          border-radius: 2px;

          &:nth-of-type(1) {
            top: 0;
          }

          &:nth-of-type(2) {
            top: 11px;
          }

          &:nth-of-type(3) {
            bottom: 0;
          }
        }
      }

      .active {
        span:nth-of-type(1) {
          -webkit-transform: translateY(20px) rotate(-45deg);
          transform: translateY(11px) rotate(-45deg);
        }

        span:nth-of-type(2) {
          opacity: 0;
        }

        span:nth-of-type(3) {
          -webkit-transform: translateY(-20px) rotate(45deg);
          transform: translateY(-11px) rotate(45deg);
        }
      }
    }

    .layer {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      display: none;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }

    .open {
      position: fixed;
    }

    .master-navi {
      position: fixed;
      top: 0;
      right: -240px;
      width: 240px;
      height: 100%;
      background-color: #fff;
      z-index: 2;

      &__item {
        font-size: 2rem;
        border-bottom: 1px solid #eee;
        // padding: 24px;
        line-height: 80px;
        position: relative;
        box-sizing: border-box;

        &:active,
        &:hover {
          background-color: $turquoise;
          border-color: $turquoise;
          // &::after {
          //   width: 100%;
          // }
        }
      }

      &__link {
        position: relative;
        display: inline-block;
        // padding: 24px;
        width: 100%;
        color: $turquoise;
        box-sizing: border-box;
        padding-left: 20px;
        letter-spacing: 1px;

        &:hover,
        &active {
          color: #fff;
        }
      }
    }
  }
}
/* ====================================================
// footer
==================================================== */
.footer {
  &__copyright {
    padding: 20px;
    text-align: center;
  }
}
