@viewport {
  width: device-width;
}



html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

* {
  &:after,
  &:before {
    box-sizing: inherit;
  }
}

body {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

a {
  background: transparent;
  text-decoration: none;
  transition: color 0.2s;
}

img {
  height: auto;
  max-width: 100%;
}

p {
  margin: 0;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 0;
  margin: 0;
  padding: 0;
  line-height: 1.6em;
  letter-spacing: 1px;
}

dd,
dl,
dt,
p,
ul,
li,
tr,
th,
td{
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
