.colors-wrap {
  .colors {
    @include flex();
    flex-wrap: wrap;

    .colors-item {
      @include flex();
      @include fd(column);
      align-items: center;
      justify-content: center;
      width: calc(100% / 5);
      color: #fff;
      height: 150px;
      font-size: 1.6rem;
      @include media ($sp) {
        width: calc(100% / 2);
      }

      &__title {
        padding-bottom: 6px;
      }

      &__code {}
    }
  }
}
