.colors-wrap {
  .colors {
    @include flex();
    flex-wrap: wrap;

    .colors-item {
      @include flex();
      @include fd(column);
      align-items: center;
      justify-content: center;
      width: calc(100% / 5);
      color: #fff;
      height: 150px;
      font-size: 1.6rem;
      @include media ($sp) {
        width: calc(100% / 2);
      }

      &__title {
        padding-bottom: 6px;
      }

      &__code {}
    }
  }
}

.license-site{
  width: 256px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #333;
  &__title{
    font-weight: normal;
    font-size: 1.8rem;
    padding-bottom: 10px;
    color: #fff;
  }
  .license-lists{
    .license-list{
      font-size: 1.2rem;
      line-height: 2em;
      .license-link{
        color: #fff;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
