$sp: 480;
$pc: 481;
$iphone5: 320;
$bigpc: 1000;
@mixin media($size) {
   @if $size == $sp{
    @media all and (max-width: $sp + 'px') {
       @content;
    }
  }
  @if $size == $pc {
     @media all and (min-width: $pc + 'px'){
      @content;
    }
  }
  @if $size == $iphone5 {
     @media all and (max-width: $iphone5 + 'px'){
      @content;
    }
  }
  @if $size == $bigpc {
     @media all and (min-width: $bigpc + 'px'){
      @content;
    }
  }
}

.sp-br {
  @include media ($sp) {
    display: block;
  }
  @include media ($pc) {
    display: none;
  }
}

.pc-br {
  @include media ($pc) {
    display: block;
  }
  @include media ($sp) {
    display: none;
  }
}

/* ====================================================
// color変数
==================================================== */

$turquoise: #0086a2;
$darkturquoise: #00A5BF;
$aiiro: #105889;
$main-bg: #f5f0eb;


/* ====================================================
// keyframe
==================================================== */

@-webkit-keyframes example {
  100% {
    opacity: 1;
  }
}
@keyframes textfadeIn {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bgscroll {
 0% {background-position: 0 0;}
 100% {background-position: 0 -500px;}
}

@keyframes bgscroll {
 0% {background-position: 0 0;}
 100% {background-position: 0 -500px;}
}

$time : .5s;
$ease : cubic-bezier(0.25, 0.46, 0.45, 0.94);

#pjaxContent{
    position: relative;

    &.fadeIn{
        animation: fadeIn $time $ease;
    }
    &.fadeOut{
        animation: fadeOut $time $ease;
    }
    &.fadeOutDelay{
        animation: fadeOut $time .4s $ease;
    }
}

@keyframes fadeIn{
    0%{left: 100%;}
    100%{left: 0;}
}
@keyframes fadeOut{
    0%{left: 0;}
    100%{left: -100%;}
}
