$sp: 480;
$pc: 481;
$iphone5: 320;
$bigpc: 1000;
@mixin media($size) {
   @if $size == $sp{
    @media all and (max-width: $sp + 'px') {
       @content;
    }
  }
  @if $size == $pc {
     @media all and (min-width: $pc + 'px'){
      @content;
    }
  }
  @if $size == $iphone5 {
     @media all and (max-width: $iphone5 + 'px'){
      @content;
    }
  }
  @if $size == $bigpc {
     @media all and (min-width: $bigpc + 'px'){
      @content;
    }
  }
}

.sp-br {
  @include media ($sp) {
    display: block;
  }
  @include media ($pc) {
    display: none;
  }
}

.pc-br {
  @include media ($pc) {
    display: block;
  }
  @include media ($sp) {
    display: none;
  }
}

/* ====================================================
// color変数
==================================================== */

$turquoise: #0086a2;
$darkturquoise: #00A5BF;
$aiiro: #105889;


/* ====================================================
// keyframe
==================================================== */

@-webkit-keyframes example {
  100% {
    opacity: 1;
  }
}
@keyframes textfadeIn {
  100% {
    opacity: 1;
  }
}
