/* ====================================================
// hero
==================================================== */
canvas {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero {
  margin-top: -70px;
  height: 100vh;
  width: 100%;
  position: relative;
  // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(../img/top.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  // z-index: 4;
  @include flex();
  justify-content: center;
  align-items: center;
  @include media ($sp) {
    height: 50vh;
    margin-top: 0;
  }

  .logo-wrap {
    position: relative;
    z-index: 5;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
      opacity: 0;
      height: 80px;
      @include media ($sp) {
        height: 40px;
      }

      &--a {
        -webkit-animation: textfadeIn 0.5s ease 0.5s 1 forwards;
        animation: example 0.5s ease 0.5s 1 forwards;
      }

      &--b {
        -webkit-animation: textfadeIn 0.5s ease 1s 1 forwards;
        animation: example 0.5s ease 1s 1 forwards;
      }

      &--c {
        margin: 0 11px;
        -webkit-animation: textfadeIn 0.5s ease 1.5s 1 forwards;
        animation: example 0.5s ease 1.5s 1 forwards;
      }

      &--d {
        margin-right: 11px;
        -webkit-animation: textfadeIn 0.5s ease 2s 1 forwards;
        animation: example 0.5s ease 2s 1 forwards;
      }

      &--e {
        -webkit-animation: textfadeIn 0.5s ease 2.5s 1 forwards;
        animation: example 0.5s ease 2.5s 1 forwards;
      }

      &--f {
        -webkit-animation: textfadeIn 0.5s ease 3s 1 forwards;
        animation: example 0.5s ease 3s 1 forwards;
      }
    }
  }
  // &__logo {
  //   width: 500px;
  //   margin: 0 auto;
  //   padding-bottom: 30px;
  // }
  .title-wrap {
    padding-top: 10px;
    text-align: center;

    &__title {
      font-size: 3.4rem;
      letter-spacing: 6px;
      font-weight: 400;
      @include media ($sp) {
        font-size: 2.2rem;
      }
      @include media ($iphone5) {
        font-size: 1.6rem;
      }
    }

    &__subtitle {
      letter-spacing: 6px;
      font-size: 1.8rem;
      font-weight: 400;
      @include media ($sp) {
        font-size: 1.6rem;
      }
      @include media ($iphone5) {
        font-size: 1.2rem;
      }

      span {
        color: $incblue;
        font-size: 3.6rem;
        font-weight: bold;
        @include media ($sp) {
          font-size: 2.6rem;
        }
        @include media ($iphone5) {
          font-size: 2rem;
        }
      }
    }
  }

  .day-count {
    text-align: center;
    font-size: 3.6rem;
    letter-spacing: 1px;
    padding-top: 20px;
    @include media ($iphone5) {
      font-size: 2.2rem;
    }
  }
}
/* ====================================================
// main
==================================================== */
.top-main {
  // padding-top: 50px;
  padding: 0 10px;
  /* ====================================================
  // photo-contents
  ==================================================== */
  .photo-contents {
    // background-color: #fefefe;
    // padding: 0 20px 20px;
    box-sizing: border-box;
    border-radius: 10px;

    &__title {
      text-align: center;
      font-size: 2.6rem;
      letter-spacing: 2px;
      color: $aiiro;
      padding-top: 40px;
      padding-bottom: 20px;
      font-weight: normal;
      @include media ($sp) {
        font-size: 2rem;
      }

      &::after,
      &::before {
        content: "";
        display: block;
        height: 1px;
        margin: 10px auto;
        background-color: $aiiro;
        vertical-align: middle;
        width: 120px;
        margin: 0 30px;
        display: inline-block;
        @include media ($sp) {
          width: 40px;
          margin-left: 15px;
          margin-right: 15px;
        }
      }
    }
  }

  .photos {
    max-width: none;
    margin: 2px auto;
    width: 100%;
    margin: 0 auto;

    .container {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
    }

    article {
      width: calc(100% / 3);
      height: 300px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      overflow: hidden;
      border: 3px solid #ddd;
      box-sizing: border-box;
      @include media ($sp) {
        width: 100%;
        height: 250px;
      }

      a {
        background-color: currentColor;
        position: relative;
        flex: 1;
        display: block;
        color: inherit;
        text-decoration: none;

        &:hover {
          opacity: 0.8;
        }

        img {
          // opacity: 0.7;
          min-height: 300px;
          background-position: center;
          background-size: cover;
          transition: transform 0.3s linear;
          @include media ($pc) {
            &:hover {
              transform: scale(1.1);
            }
          }
          @include media ($sp) {
            height: 250px;
            &:hover{
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
/*===========================================
	sns設定
=============================================*/
.sns-timeline {
  padding: 0 10px;

  .timelines {
    border-radius: 10px;
    // background-color: $incblue;
    width: 100%;
    padding: 60px 0;
    box-sizing: border-box;
    @include flex();
    align-items: center;
    justify-content: center;
    @include media($sp) {
       @include fd(column);
      padding-left: 20px;
      padding-right: 20px;
    };

    &__fb {
      width: 400px;
      @include media($sp) {
        margin-bottom: 30px;

        iframe {
          width: 100%;
        }
      };
    }

    &__tw {
      width: 400px;
      // height: 400px;
      // overflow: scroll;
      margin-left: 60px;
      @include media($sp) {
        width: 100%;
        margin: 0 auto;
      };
    }
  }
}
